<div class="mt-5  container text-center">
  {{> message}}
  <div class="row mb-5 ">
    {{#if thisUser.isTeacher}}
    <div class="col-4 d-flex flex-column justify-content-between">
      <div class="row d-flex-column" style="margin-right:20px;text-align: start">
        <img src="{{thisUser.avatar}}" alt="" style="height:200px;width:200px;background-color:gray;border-radius:50%;margin-bottom:40px">
        <p style="margin-bottom:10px;font-size:30px;">{{thisUser.name}}</p>
          <div class="mt-2 mb-2 d-flex align-items-center">
            <i class="fa-solid fa-house" style="margin-right:5px"></i>
            <p style="margin:0">{{thisUser.nation}}</p>
          </div>
        <div class="mb-2 d-flex align-items-center">
          <i class="fa-regular fa-heart" style="margin-right:3px"></i>
          <p style="margin:0">{{avgScore}}</p>
        </div>
        <div style="height:auto;word-break:break-all;padding-right:20px ">{{thisUser.introduction}}</div>
      </div>
      {{#if canEdit}}
      <div class="mt-4 row d-flex">
        <a href="/users/{{user.id}}/edit" class="btn btn-info btn-block" style="width:200px">修改個人資料和可預約的上課時間</a>
      </div>
      {{/if}}
    </div>
    <div class="col-8 d-flex flex-column justify-content-between">
      <div class="row">
        <h5>New schedule</h5>
        <div class="row d-flex justify-content-between border-top">
          {{#each schedule}}
          <div class="d-flex flex-column border mt-2" style="width:49%;text-align:start;margin-right:2px;padding:5px">
            <p >時間: {{this.time}}</p>
            <p>學生姓名: <a href="/users/{{this.User.id}}">{{this.User.name}}</a></p>
            <p style="height:auto;word-break:break-all;margin:0px">上課連結: <a href="{{../lesson.link}}">{{../lesson.link}}</a></p>
          </div>
          {{/each}}
        </div>
      </div>
      <div class="row mt-5">
        <h5>課程介紹及教學風格</h5>
        <div class="d-flex flex-column border-top" style="text-align:start">
          <div>
            <h5 class="mt-2 mb-5">{{lesson.name}}</h5>
          </div>
          <div style="height:auto;word-break:break-all;padding-right:10px ">{{lesson.introduction}}</div>
        </div>
      </div>
      <div class="mt-5 row">
        <h5>近期獲得的評分</h5>
        <div class="column border-top">
        {{#each rates}}
        <div class="mt-2 d-flex">
          <div class="d-flex align-items-center justify-content-center" style="width:20px;background-color:yellow;margin-right:5px;font-weight:bold">{{this.score}}</div>
          <div class="border rounded" style="width:100%;padding:5px;text-align:start">{{this.comment}}</div>
        </div>
        {{/each}}
        </div>
      </div>
    </div>
    {{else}}
    <div class="col-4 d-flex flex-column justify-content-between">
      <div class="row d-flex-column" style="text-align: start">
        <img src="{{thisUser.avatar}}" alt="" style="height:200px;width:200px;background-color:gray;border-radius:50%;margin-bottom:40px">
        <p style="margin-bottom:10px;font-size:30px;">{{thisUser.name}}</p>
        <div class="mt-2 mb-2 d-flex align-items-center">
          <i class="fa-solid fa-house" style="margin-right:5px"></i>
          <p style="margin:0">{{thisUser.nation}}</p>
        </div>
        <div style="height:auto;word-break:break-all;padding-right:20px ">{{thisUser.introduction}}</div>
      </div>
      {{#if canEdit}}
      <div class="mt-4 row d-flex">
        <a href="/users/{{user.id}}/edit" class="btn btn-info btn-block" style="width:200px">修改個人資料</a>
      </div>
      {{/if}}
    </div>
    <div class="col-8 d-flex flex-column justify-content-between">
      <div class="row">
        <h5>New schedule</h5>
        <div class="row d-flex justify-content-between border-top">
          {{#each schedule}}
            <div class="d-flex flex-column border mt-2" style="width:49%;text-align:start;margin-right:2px;padding:5px">
            <p>時間: {{this.time}}</p>
            <p>老師姓名: <a href="/lessons/{{this.Lesson.id}}">{{this.Lesson.User.name}}</a></p>
            <p>上課連結:<a href="{{this.Lesson.link}}" style="height:auto;word-break:break-all"> {{this.Lesson.link}}</a></p>
          </div>
          {{/each}}
        </div>
      </div>
      <div class="row mt-5">
        <h5>Lesson history</h5>
        <div class="d-flex border-top">
          {{#each notRated}}
          <div class="mt-3 mx-2 d-flex align-items-center border">
            <img src="{{this.Lesson.User.avatar}}" alt="" style="width:30px;height:30px; border-radius:50%; background-color:gray;margin:5px 5px;">
            <p style="margin:0px 10px 0px 5px">{{this.Lesson.User.name}}</p>
            {{#if ../canEdit}} <a href="/rates/{{this.id}}" class="btn btn-block" style="background-color:bisque">評分</a> {{/if}}
          </div>
          {{/each}}
        </div>
      </div>
      <div class="row mt-5">
        <h5>我的學習時數名次</h5>
        <div class="d-flex justify-content-center border">
          {{thisUser.rank}}/{{totalAmount}}
        </div>
      </div>
    </div>
    {{/if}}
  </div>
</div>